<header class="app-header navbar">
  <button class="navbar-toggler mobile-sidebar-toggler hidden-lg-up" type="button">&#9776;</button>
  <a class="navbar-brand" href="#"></a>

  <ul class="nav navbar-nav hidden-md-down">
    <li class="nav-item">
      <a class="nav-link navbar-toggler sidebar-toggler" href="https://www.techspacehub.com/">&#9776;</a>
    </li>
    <li class="nav-item px-1">
      <a class="nav-link" href="https://www.techspacehub.com/">TechSpaceHub</a>
    </li>
  </ul>
  <ul class="nav navbar-nav ml-auto">
    <li class="nav-item hidden-md-down">
      <a class="nav-link" href="https://github.com/redefineme/ng-alerts" target="_blank">
        <button type="button" class="btn btn-secondary" ><i class="icon-social-github"></i> View Code </button></a>
    </li>
    <li class="nav-item hidden-md-down">
      <a class="nav-link" href="https://github.com/redefineme/ng-alerts/archive/master.zip">
        <button type="button" class="btn btn-secondary" ><i class="icon-cloud-download"></i> Download Code </button></a>
    </li>
  </ul>
</header>

<div class="app-body">
  <div class="sidebar">
    <nav class="sidebar-nav">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/alerts']"><i class="icon-exclamation"></i> Alerts <span class="badge badge-info">NEW</span></a>
        </li>


        <li class="nav-item hidden-md-up">
          <a class="nav-link" href="https://github.com/redefineme/ng-alerts" target="_blank"> <i class="icon-social-github"></i> View Code
          </a>
        </li>
        <li class="nav-item hidden-md-up">
          <a class="nav-link" href="https://github.com/redefineme/ng-alerts/archive/master.zip">
            <i class="icon-cloud-download"></i> Download Code
          </a>
        </li>


      </ul>
    </nav>
  </div>

  <!-- Main content -->
  <main class="main">
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div><!-- /.conainer-fluid -->
  </main>
</div>

<footer class="app-footer">
  <a href="https://www.techspacehub.com/">TechSpaceHub</a> &copy; 2017 Redefineme.
  <span class="float-right">Powered by <a href="https://www.techspacehub.com/">Redefineme</a></span>
</footer>
